.Overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.801);
  z-index: 20;
  justify-content: center;
  align-items: center;
  padding: 5vh 5%;
  box-sizing: border-box;
}

.Overlay.closed {
  display: none;
}

.closeButton {
  display: block;
  width: 30px;
  height: 27px;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(0deg);
  margin: 10px;
  transition: 0.3s cubic-bezier(0.45, -1.11, 0.18, 1.88);
  cursor: pointer;
}

.closeButton:hover {
  transform: scale(1.2) rotate(90deg);
}

.closeButton span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
}

.closeButton span:nth-child(1),.closeButton span:nth-child(2) {
  top: 12px;
}

.closeButton span:nth-child(1) {
  transform: rotate(45deg);
}

.closeButton span:nth-child(2) {
  transform: rotate(-45deg);
}


.Overlay canvas {
  max-width: 1000px;
  max-height: 1000px;
  width: min(90vh, 90vw);
  margin: auto;
  background-color: black;
  touch-action: manipulation;
  user-select: none;  /* disable hold touch to select text on touch devices */
}